# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.env
.venv/
env/
venv/

# Logs and databases
*.log
*.sqlite3

# VS Code
.vscode/

# Mac system files
.DS_Store

site/*

# node_modules
*/node_modules/*